<div class="row">
  <section class="main col-md-9">
      <article>
            <h2>About</h2>
            <p>I am sabin khatiwada and i am studying compter programing at seneca collage. My current goal is to complete the course from seneca and to build my potfolio of projects of web programing and data base . </p>
            <p>I am from nepal. I developed my intrest on compter proraming at the age of 16 when i was in high school. I came to canada in 2022 for my stdies and since then i have been living in canada.</p>
            <p>I love to traval alot so i choose to stdy abroad and chose beatiful country of canada for my higher studies. Comming from a mountaneous place i love teacking and hiking. </p>
            <p>You may found some mistakes in my website so i am planning to add a report option in my later verson of the web page.</p>
            </article>
  </section>
  <aside class="col-md-3">
    <h2>Coming Soon</h2>
    <p>I don't usually keep people in suspense, but when I do .....</p>
  </aside>
</div>