<div class="row">
  <section class="main col-md-9">
      <article>
            <h2>About</h2>
            <p>I am Royal Singh Bist and i am studying computer programing at seneca collage. My current goal is to complete the course from seneca and to build my potfolio of projects of web programing and data base .</p>
            <p>I am from nepal. I developed my interest on computer programing at the age of 13 when i was in my school. I came to canada in 2022 for my studies and since then i have been staying in canada.</p>
            <p>I love to travel alot so i choose to study abroad and choose canada for my higher studies.i love playing football and basketball. </p>
            <p>You may found some mistakes in my website so i am planning to add a report option in my later verson of the web page.</p>
            </article>
  </section>
  <aside class="col-md-3">
    <h2>Coming Soon</h2>
    <p>I don't usually make people curious, but when I do .....</p>
  </aside>
</div>